*~
*.a
*.dylib
*.la
*.lo
*.so
*.o
Makefile
autom4te.cache/
config.h
config.log
config.status
configure.lineno
cscope.out
stamp-h1
libtool
.deps/
.libs/
.dirstamp
tests/check_watchman
tests/check_watchman.log
tests/check_watchman.trs
tests/test-suite.log
