*~
*.a
*.dylib
*.la
*.lo
*.so
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.guess
config.sub
config.log
config.status
configure
configure.lineno
cscope.out
depcomp
install-sh
libtool
ltmain.sh
missing
m4/
stamp-h1
.deps/
.libs/
.dirstamp
tests/check_watchman
tests/check_watchman.log
tests/check_watchman.trs
tests/test-suite.log
test-driver
tests/json2bser
tests/bser2json
